/* tailwind imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap'); /* Amatic SC from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Smythe&display=swap'); /* Smythe from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap'); /* Source sans pro from google fonts */

.cursive {
  font-family: 'Smythe', cursive;
  font-weight: 700;
}

.prose img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.home-name {
  font-size: 300px;
}