/* tailwind imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap'); /* Amatic SC from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Smythe&display=swap'); /* Smythe from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap'); /* Source sans pro from google fonts */

.cursive {
  font-family: 'Smythe', cursive;
  font-weight: 700;
}

.prose img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.home-name {
  font-family: 'Amatic SC', cursive;
  font-size: 200px;
  letter-spacing: 2rem
}

.home-name::after {
  content: "";
  margin-right:-8rem;
}

.blued {
  background-color: #1A2A54;
}

.orange {
  color: #FF986C;
}

/* from https://www.shapedivider.app/ to draw SVG curves */
.custom-shape-divider-bottom-1642025412 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1642025412 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-bottom-1642025412 .shape-fill {
  fill: #1A2A54;
}